<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4e5eafa9b9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <title>Pranav Peddamalla | About</title>
  <style>
    @font-face {
      font-family: 'CircularStd-Book';
      src: url('fonts/CircularStd-Book.woff') format('woff');
    }

    @font-face {
      font-family: 'CircularStd-Black';
      src: url('fonts/CircularStd-Black.woff') format('woff');
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    body {
      background-color: rgb(32, 32, 32);
    }

    .main.visible {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    #nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgb(32, 32, 32);
      padding: 20px 0;
    }

    #nav-links li {
      padding: 0 20px;
    }

    #nav-links a {
      text-decoration: none;
      color: white;
      font-family: 'CircularStd-Black';
    }

    #nav-links a:hover {
      color: rgb(66, 96, 238);
    }

    #navigation {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    #title {
      color: white;
      font-family: 'CircularStd-Black';
      font-size: 70px;
    }

    #main-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 90px;
      padding: 0 30px;
    }

    #about-me,
    #passions,
    #skills {
      flex: 1;
      padding: 20px;
      margin: 0;
      text-align: center;
    }

    #about-me {
      text-align: center;
      padding: 20px;
    }

    .label {
      font-family: 'CircularStd-Book';
      color: white;
      font-size: 60px;
      margin-bottom: 0.5em;
      animation: fadeIn 2s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .label i {
      margin-right: 20px;
    }

    .bio {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      padding: 0 10px;
      color: grey;
      font-family: 'CircularStd-Book';
      font-size: 25px;
      animation: fadeIn 3s;
    }

    #passions {
      text-align: center;
      padding: 20px;
    }

    #footer {
      bottom: 0;
      width: 100%;
    }

    #copyright {
      font-family: 'CircularStd-Book';
      color: grey;
      text-align: center;
      font-size: 12px;
    }

    #hobbies {
      text-align: center;
    }

    #hobby-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: start;
      gap: 20px;
      padding-left: 110px;
    }

    #left,
    #right {
      display: contents;
    }

    .items {
      color: grey;
      font-family: 'CircularStd-Book';
      padding: 0;
      margin: 0;
      font-size: 25px;
      text-align: left;
      animation: fadeIn 3s;
    }

    .items li {
      margin-bottom: 10px;
    }

    .card {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: rgb(43, 43, 43);
      border-radius: 20px;
      margin: 0 5px;
      width: fit-content;
    }

    .card i {
      display: block;
      max-width: 100%;
      height: auto;
      color: white;
      font-size: 60px;
    }

    .row {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div id="main-page">
    <div id="about-me">
      <h1 class="label">
        <i class="fa-solid fa-pen-to-square"></i>about me
      </h1>
      <p class="bio">I am a junior studying computer science and statistics + data science at the University of
        Maryland, College Park.</p>
    </div>
    <div id="passions">
      <h1 class="label">
        <i class="fa-solid fa-briefcase"></i>career aspirations
      </h1>
      <p class="bio">I am a full stack developer looking to apply honed skills in both fields of Software Engineering
        and/or Data Science.</p>
    </div>
    <div id="hobbies">
      <h1 class="label">
        <i class="fa-solid fa-icons"></i>hobbies
      </h1>
      <div id="hobby-list">
        <div id="left">
          <ul class="items">
            <li>Listening to music</li>
            <li>Going to the gym</li>
            <li>Traveling</li>
          </ul>
        </div>
        <div id="right">
          <ul class="items">
            <li>Playing sports</li>
            <li>Hanging out with friends</li>
            <li>Watching TV</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="skills">
      <h1 class="label">
        <i class="fa-solid fa-code"></i> technologies
      </h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <i class="devicon-python-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-java-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-javascript-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-c-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-html5-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-css3-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-ocaml-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-ruby-plain colored"></i>
          </div>
          <div class="card">
            <i class="devicon-rust-plain"></i>
          </div>
          <!-- <div class="card">
            <i class="devicon-r-original colored"></i>
          </div>
          <div class="card">
            <i class="devicon-matlab-plain colored"></i>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <i class="devicon-nodejs-plain-wordmark colored"></i>
          </div>
          <div class="card">
            <i class="devicon-react-original colored"></i>
          </div>
          <div class="card">
            <i class="devicon-express-original"></i>
          </div>
          <div class="card">
            <i class="devicon-numpy-original-wordmark colored"></i>
          </div>
          <div class="card">
            <i class="devicon-pandas-original-wordmark"></i>
          </div>
          <div class="card">
            <i class="devicon-tensorflow-original colored"></i>
          </div>
          <div class="card">
            <i class="devicon-opencv-plain colored"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <i class="devicon-mongodb-plain colored"></i>
        </div>
        <div class="card">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="card">
            <i class="devicon-azure-plain colored"></i>
        </div>
        <div class="card">
            <i class="devicon-amazonwebservices-original colored"></i>
        </div>
        <div class="card">
            <i class="devicon-jupyter-plain colored"></i>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">Copyright © Pranav Peddamalla</p>
    </footer>
  </div>
</body>

</html>