<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4e5eafa9b9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <title>Pranav Peddamalla | About</title>
  <style>
    @font-face {
      font-family: 'CircularStd-Book';
      src: url('fonts/CircularStd-Book.woff') format('woff');
    }

    @font-face {
      font-family: 'CircularStd-Black';
      src: url('fonts/CircularStd-Black.woff') format('woff');
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    body {
      background-color: rgb(32, 32, 32);
    }

    #nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgb(32, 32, 32);
      padding: 20px 0;
    }

    #nav-links li {
      padding: 0 20px;
    }

    #nav-links a {
      text-decoration: none;
      color: white;
      font-family: 'CircularStd-Black';
    }

    #nav-links a:hover {
      color: rgb(66, 96, 238);
    }

    #navigation {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    #main-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 55px;
      padding: 0 30px;
    }

    #aboutCareer {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    #about-me,
    #passions,
    #skills {
      flex: 1;
      padding: 20px;
      margin: 0;
      text-align: center;
    }

    #skills {
      margin-top: -50px;
    }

    .label {
      font-family: 'CircularStd-Book';
      color: #F0F1F3;
      font-size: 50px;
      margin-bottom: 0.5em;
      animation: fadeIn 1s;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .label i {
      margin-right: 20px;
    }

    .bio {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      padding: 0 10px;
      color: grey;
      font-family: 'CircularStd-Book';
      font-size: 20px;
      animation: fadeIn 2s;
    }

    #passions {
      text-align: center;
      padding: 20px;
    }

    #footer {
      bottom: 0;
      width: 100%;
    }

    #copyright {
      font-family: 'CircularStd-Book';
      color: #495057;
      text-align: center;
      font-size: 12px;
    }

    .card {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: rgb(43, 43, 43);
      border-radius: 20px;
      margin: 0 5px;
      width: 70px;
      height: 70px;
    }

    .card i {
      display: block;
      width: 100%;
      height: auto;
      color: white;
      font-size: 60px;
    }

    .row {
      margin-bottom: 20px;
      animation: fadeIn 2s;
    }

    .caption {
      color: white;
      font-family: 'CircularStd-Book';
      text-align: center;
      font-size: 11px;
    }
  </style>
</head>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div id="main-page">
    <div id="aboutCareer">
      <div id="about-me">
        <h1 class="label">
          <i class="fa-solid fa-pen-to-square"></i>about me
        </h1>
        <p class="bio">I am a junior studying computer science and statistics + data science at the University of
          Maryland, College Park.</p>
      </div>
      <div id="passions">
        <h1 class="label">
          <i class="fa-solid fa-building"></i>career aspirations
        </h1>
        <p class="bio">I am a full stack developer looking to apply honed skills in both fields of Software Engineering
          and/or Data Science.</p>
      </div>
    </div>
    <div id="skills">
      <h1 class="label">
        <i class="fa-solid fa-code"></i> technologies
      </h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <i class="devicon-python-plain colored"></i>
            <p class="caption">Python</p>
          </div>
          <div class="card">
            <i class="devicon-java-plain colored"></i>
            <p class="caption">Java</p>
          </div>
          <div class="card">
            <i class="devicon-javascript-plain colored"></i>
            <p class="caption">JavaScript</p>
          </div>
          <div class="card">
            <i class="devicon-c-plain colored"></i>
            <p class="caption">C, C#, C++</p>
          </div>
          <div class="card">
            <i class="devicon-html5-plain colored"></i>
            <p class="caption">HTML</p>
          </div>
          <div class="card">
            <i class="devicon-css3-plain colored"></i>
            <p class="caption">CSS</p>
          </div>
          <div class="card">
            <i class="devicon-ocaml-plain colored"></i>
            <p class="caption">OCaml</p>
          </div>
          <div class="card">
            <i class="devicon-ruby-plain colored"></i>
            <p class="caption">Ruby</p>
          </div>
          <div class="card">
            <i class="devicon-rust-plain"></i>
            <p class="caption">Rust</p>
          </div>
          <div class="card">
            <i class="devicon-r-original colored"></i>
            <p class="caption">R</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <i class="devicon-matlab-plain colored"></i>
            <p class="caption">MATLAB</p>
          </div>
          <div class="card">
            <i class="devicon-latex-original"></i>
            <p class="caption">Latex</p>
          </div>
          <div class="card">
            <i class="devicon-nodejs-plain colored"></i>
            <p class="caption">Node.js</p>
          </div>
          <div class="card">
            <i class="devicon-react-original colored"></i>
            <p class="caption">React.js</p>
          </div>
          <div class="card">
            <i class="devicon-express-original"></i>
            <p class="caption">Express.js</p>
          </div>
          <div class="card">
            <i class="devicon-numpy-original colored"></i>
            <p class="caption">NumPy</p>
          </div>
          <div class="card">
            <i class="devicon-pandas-original"></i>
            <p class="caption">Pandas</p>
          </div>
          <div class="card">
            <i class="devicon-tensorflow-original colored"></i>
            <p class="caption">TensorFlow</p>
          </div>
          <div class="card">
            <i class="devicon-opencv-plain colored"></i>
            <p class="caption">OpenCV</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <i class="devicon-unix-original colored"></i>
            <p class="caption">Unix</p>
          </div>
          <div class="card">
            <i class="devicon-mongodb-plain colored"></i>
            <p class="caption">MongoDB</p>
          </div>
          <div class="card">
            <i class="devicon-git-plain colored"></i>
            <p class="caption">Git</p>
          </div>
          <div class="card">
            <i class="devicon-azure-plain colored"></i>
            <p class="caption">Azure</p>
          </div>
          <div class="card">
            <i class="devicon-amazonwebservices-original colored"></i>
            <p class="caption">AWS</p>
          </div>
          <div class="card">
            <i class="devicon-jupyter-plain colored"></i>
            <p class="caption">Jupyter</p>
          </div>
          <div class="card">
            <i class="devicon-anaconda-original colored"></i>
            <p class="caption">Anaconda</p>
          </div>
          <div class="card">
            <i class="devicon-mysql-plain colored"></i>
            <p class="caption">MySQL</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">© 2023 Pranav Peddamalla</p>
    </footer>
  </div>
</body>

</html>