<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4e5eafa9b9.js" crossorigin="anonymous"></script>
  <title>Pranav Peddamalla | Contact</title>
  <style>
    @font-face {
      font-family: 'CircularStd-Book';
      src: url('fonts/CircularStd-Book.woff') format('woff');
    }

    @font-face {
      font-family: 'CircularStd-Black';
      src: url('fonts/CircularStd-Black.woff') format('woff');
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    html,
    body {
      overflow: hidden;
    }

    body {
      background-color: rgb(32, 32, 32);
    }

    .main-page {
      text-align: center;
      align-items: center;
      animation: fadeIn 1.5s;
    }

    #nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgb(32, 32, 32);
      padding: 20px 0;
    }

    #nav-links li {
      padding: 0 20px;
    }

    #nav-links a {
      text-decoration: none;
      color: white;
      font-family: 'CircularStd-Black';
    }

    #nav-links a:hover {
      color: rgb(66, 96, 238);
    }

    #navigation {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    #copyright {
      font-family: 'CircularStd-Book';
      color: #495057;
      text-align: center;
      font-size: 12px;
    }

    #title {
      color: #F0F1F3;
      font-size: 70px;
      font-family: 'CircularStd-Book';
      text-align: center;
      margin-top: 90px;
      align-items: center;
    }

    .card {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: rgb(43, 43, 43);
      border-radius: 20px;
      margin: 0 10px;
      width: fit-content;
      transition: transform 0.3s ease, opacity 0.3s ease;
      margin-top: -20px;
    }

    .card i {
      display: block;
      width: 200px;
      height: auto;
      font-size: 200px;
    }

    .card a {
      text-decoration: none;
    }

    .row {
      display: flex;
      justify-content: center;
      position: relative;
      padding: 20px 0;
    }

    .card:hover {
      transform: scale(1.1);
      z-index: 10;
    }

    #linkedin {
      color: rgb(9, 102, 194);
    }

    #github {
      color: rgb(13, 16, 23);
    }

    #instagram {
      color: #D930F3;
    }

    #email {
      color: #30944A;
    }
  </style>
</head>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="main-page">
    <h1 id="title">reach out</h1>
    <div class="row">
      <div class="column">
        <div class="card" id="email">
          <a href="mailto:pranavpedd@gmail.com">
            <i class="fa-solid fa-envelope" id="email"></i>
          </a>
        </div>
        <div class="card">
          <a href="https://www.linkedin.com/in/pranavpedd/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin" id="linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <a href="https://github.com/pranavpedd" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github" id="github"></i>
          </a>
        </div>
        <div class="card">
          <a href="https://www.instagram.com/pranavpedd/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram" id="instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">© 2023 Pranav Peddamalla</p>
    </footer>
  </div>
</body>

</html>