<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pranav Peddamalla | Home</title>
  <style>
    @font-face {
      font-family: 'CircularStd-Book';
      src: url('fonts/CircularStd-Book.woff') format('woff');
    }

    @font-face {
      font-family: 'CircularStd-Black';
      src: url('fonts/CircularStd-Black.woff') format('woff');
    }

    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    html, body {
      overflow: hidden;
    }

    body {
      background-color: rgb(33, 32, 32);
    }

    #main-page {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
    }

    #intro {
      color: #F0F1F3;
      font-family: 'CircularStd-Book';
      font-size: 60px;
      margin-right: 100px;
      margin-bottom: 10px;
      transform: translateY(-100px);
      animation: fadeInUp 2s forwards;
      animation-delay: 0.5s;
    }

    #headshot {
      height: 500px;
      border: solid 6px #F0F1F3;
      border-radius: 3%;
    }

    #aspire {
      font-size: 17px;
      font-family: 'CircularStd-Book';
      color: grey;
      margin-right: 100px;
      margin-top: 0px;
      opacity: 0;
      transform: translateY(500px);
      animation: fadeInUp 3s forwards;
      animation-delay: 0.5s;
    }

    #text-group {
      display: flex;
      flex-direction: column;
    }

    #nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgb(32, 32, 32);
      padding: 20px 0;
    }

    #nav-links li {
      padding: 0 20px;
    }

    #nav-links a {
      text-decoration: none;
      color: white;
      font-family: 'CircularStd-Black';
    }

    #nav-links a:hover {
      color: rgb(66, 96, 238);
    }

    #navigation {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    #copyright {
      font-family: 'CircularStd-Book';
      color: #495057;
      text-align: center;
      font-size: 12px;
    }
  </style>
</head>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div id="main-page">
    <div id="text-group">
      <h1 id="intro">pranav peddamalla</h1>
      <h4 id="aspire">Aspiring Software Engineer/Data Scientist</h4>
    </div>
    <img id="headshot" src="/images/headshot better.jpg" alt="pic of me">
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">© 2023 Pranav Peddamalla</p>
    </footer>
  </div>
</body>

</html>