<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4e5eafa9b9.js" crossorigin="anonymous"></script>
  <title>Pranav Peddamalla | Projects</title>
</head>

<style>
  @font-face {
    font-family: 'CircularStd-Book';
    src: url('fonts/CircularStd-Book.woff') format('woff');
  }

  @font-face {
    font-family: 'CircularStd-Black';
    src: url('fonts/CircularStd-Black.woff') format('woff');
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  html,
  body {
    overflow: hidden;
  }

  body {
    background-color: rgb(32, 32, 32);
  }

  #nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: rgb(32, 32, 32);
    padding: 20px 0;
  }

  #nav-links li {
    padding: 0 20px;
  }

  #nav-links a {
    text-decoration: none;
    color: white;
    font-family: 'CircularStd-Black';
  }

  #nav-links a:hover {
    color: rgb(66, 96, 238);
  }

  #navigation {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  #main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1.5s;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  #copyright {
    font-family: 'CircularStd-Book';
    color: #495057;
    text-align: center;
    font-size: 12px;
  }

  #title {
    color: #F0F1F3;
    font-size: 70px;
    font-family: 'CircularStd-Book';
    text-align: center;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bio {
    font-family: 'CircularStd-Book';
    color: grey;
    text-align: center;
    font-size: 20px;
    margin-top: -20px;
  }

  .card {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    min-height: 220px;
    width: 310px;
    padding: 10px;
    align-items: center;
    margin: 10px;
  }

  .card a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: none;
  }

  .project-name {
    color: white;
    font-family: 'CircularStd-Black';
    font-size: 30px;
    text-align: center;
  }

  .description {
    color: grey;
    font-family: 'CircularStd-Book';
    margin-top: -10px;
    text-align: center;
  }

  i {
    font-size: 30px;
    color: white;
  }

  .demos {
    display: flex;
    justify-content: flex-start;
  }
</style>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div id="main-page">
    <h1 id="title">projects</h1>
    <p id="bio">Here are some of my notable projects along with their implementations/demos</p>
    <div class="row">
      <div class="column">
        <div class="card">
          <h2 class="project-name">SpotRecs</h2>
          <p class="description">Website that allows users to view song reccomendations based on their Spotify profile
          </p>
          <div class="demos">
            <a href="https://github.com/pranavpedd/SpotRecs" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=QhOKPfjv9sw" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="card">
          <h2 class="project-name">DivyUp</h2>
          <p class="description">Web app which streamlines group expense splitting by using Optical Character
            Recognition on uploaded receipt images</p>
          <div class="demos">
            <a href="https://github.com/pranavpedd/DivyUp" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://youtu.be/Htz9ky2HFhY?si=SqbYMekj91DXxBQk" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <h2 class="project-name">Stock Price Predictor</h2>
          <p class="description">Data Science project leveraging LSTM modeling to predict S&P 500 stock prices using
            company-specific data</p>
          <div class="demos">
            <a href="https://github.com/pranavpedd/pranavpedd.github.io" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://pranavpedd.github.io/StockPricePredictor/" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-safari"></i>
            </a>
          </div>
        </div>
        <div class="card">
          <h2 class="project-name">Portfolio</h2>
          <p class="description">My personal portfolio which is a showcase of my technical skills, personal projects and
            work experience</p>
          <div class="demos">
            <a href="https://github.com/pranavpedd/Personal-Portfolio" target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-square-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">© 2023 Pranav Peddamalla</p>
    </footer>
  </div>
</body>

</html>