<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4e5eafa9b9.js" crossorigin="anonymous"></script>
  <title>Pranav Peddamalla | Work</title>
  <style>
    @font-face {
      font-family: 'CircularStd-Book';
      src: url('fonts/CircularStd-Book.woff') format('woff');
    }

    @font-face {
      font-family: 'CircularStd-Black';
      src: url('fonts/CircularStd-Black.woff') format('woff');
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    body {
      background-color: rgb(32, 32, 32);
    }

    #nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgb(32, 32, 32);
      padding: 20px 0;
    }

    #nav-links li {
      padding: 0 20px;
    }

    #nav-links a {
      text-decoration: none;
      color: white;
      font-family: 'CircularStd-Black';
    }

    #nav-links a:hover {
      color: rgb(66, 96, 238);
    }

    #navigation {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    #copyright {
      font-family: 'CircularStd-Book';
      color: #495057;
      text-align: center;
      font-size: 12px;
    }

    #title {
      color: #F0F1F3;
      font-size: 70px;
      font-family: 'CircularStd-Book';
      text-align: center;
      margin-top: 90px;
      align-items: center;
    }

    .company {
      color: #F0F1F3;
      font-family: 'CircularStd-Book';
    }

    .content i {
      color: white;
    }

    .time-period {
      font-family: 'CircularStd-Book';
      color: white;
    }

    #timeline {
      position: relative;
      margin-left: 10%;
    }

    .card {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 30%;
    }

    .content {
      padding: 20px 30px;
      background-color: rgb(43, 43, 43);
      position: relative;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div id="main-page">
    <h1 id="title">work experience</h1>
    <div id="timeline">
      <div class="card">
        <div class="content">
          <h2 class="company">Oshkosh Corporation</h2>
          <p class="time-period">
            <i class="fa-regular fa-clock"></i> May 2023 ~
          </p>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="company">Varsity Tutors</h2>
          <p class="time-period">
            <i class="fa-regular fa-clock"></i> July 2022 ~
          </p>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h2 class="company">University of Maryland</h2>
          <p class="time-period">
            <i class="fa-regular fa-clock"></i> Aug 2021 ~ Dec 2022
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">© 2023 Pranav Peddamalla</p>
    </footer>
  </div>
</body>

</html>