<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4e5eafa9b9.js" crossorigin="anonymous"></script>
  <title>Pranav Peddamalla | Work</title>
  <style>
    @font-face {
      font-family: 'CircularStd-Book';
      src: url('fonts/CircularStd-Book.woff') format('woff');
    }

    @font-face {
      font-family: 'CircularStd-Black';
      src: url('fonts/CircularStd-Black.woff') format('woff');
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    html,
    body {
      overflow: hidden;
    }

    body {
      background-color: rgb(32, 32, 32);
    }

    #nav-links {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background: rgb(32, 32, 32);
      padding: 20px 0;
    }

    #nav-links li {
      padding: 0 20px;
    }

    #nav-links a {
      text-decoration: none;
      color: white;
      font-family: 'CircularStd-Black';
    }

    #nav-links a:hover {
      color: rgb(66, 96, 238);
    }

    #navigation {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    #main-page {
      position: relative;
      min-height: 100vh;
      animation: fadeIn 1.5s;
    }

    #footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    #copyright {
      font-family: 'CircularStd-Book';
      color: #495057;
      text-align: center;
      font-size: 12px;
    }

    #title {
      color: #F0F1F3;
      font-size: 70px;
      font-family: 'CircularStd-Book';
      text-align: center;
      margin-top: 60px;
      align-items: center;
    }

    .company {
      color: #F0F1F3;
      font-family: 'CircularStd-Book';
    }

    .content i {
      color: white;
    }

    .time-period {
      font-family: 'CircularStd-Book';
      color: white;
    }

    #timeline {
      position: relative;
      margin-left: 10%;
    }

    .card {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 30%;
    }

    .card .content {
      transition: background-color 0.3s;
    }

    .card .content.active {
      background-color: rgb(66, 96, 238);
    }

    #job-description {
      display: none;
      opacity: 0;
      transition: opacity 1s;
      position: absolute;
      font-family: 'CircularStd-Book';
      color: white;
      font-size: 23px;
      box-sizing: border-box;
      top: 15%;
      left: 42%;
    }

    #job-description.active {
      display: block;
      opacity: 1;
    }

    .content {
      padding: 20px 30px;
      background-color: rgb(43, 43, 43);
      position: relative;
      border-radius: 10px;
    }

    .content:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div id="navigation">
    <ul id="nav-links">
      <li id="home"><a href="/">Home</a></li>
      <li id="about"><a href="/about">About</a></li>
      <li id="work"><a href="/work">Work</a></li>
      <li id="projects"><a href="/projects">Projects</a></li>
      <li id="contact"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div id="main-page">
    <h1 id="title">work experience</h1>
    <div id="timeline">
      <div class="card">
        <div class="content" data-job-id="oshkosh">
          <h2 class="company">Oshkosh Corporation</h2>
          <p class="time-period">
            <i class="fa-regular fa-clock"></i> May 2023 ~
          </p>
        </div>
      </div>
      <div class="card">
        <div class="content" data-job-id="varsity">
          <h2 class="company">Varsity Tutors</h2>
          <p class="time-period">
            <i class="fa-regular fa-clock"></i> July 2022 ~
          </p>
        </div>
      </div>
      <div class="card">
        <div class="content" data-job-id="university">
          <h2 class="company">University of Maryland</h2>
          <p class="time-period">
            <i class="fa-regular fa-clock"></i> Aug 2021 ~ Dec 2022
          </p>
        </div>
      </div>
    </div>
    <div id="job-description" class="job-description">

    </div>
  </div>
  <div id="footer">
    <footer>
      <p id="copyright">© 2023 Pranav Peddamalla</p>
    </footer>
  </div>
  <script>
    const jobDescriptions = {
      'oshkosh': {
        title: 'Data Science Intern @ Oshkosh Corporation',
        description: [
          'Leveraged Azure Synapse alongside Power BI to create a data validation tool, achieving a 40% boost in data integrity analysis efficiency and enabling advanced trend visualizations using Power BI for improved decision-making',
          'Developed advanced 3D visualization tools using Python, rectPack, Pandas, and Matplotlib for the Next Generation Delivery Vehicle project, optimizing the arrangement of 1500+ components, resulting in a 30% improvement in packing efficiency and a 25% increase in resource utilization',
          'Developed an advanced algorithm that processed 6,000+ engineering drawings, achieving 95% accuracy in boundary detection and efficient dimension extraction, reducing manual review time by 70% and enhancing design process efficiency'
        ]
      },

      'varsity': {
        title: 'CS + Math Tutor @ Varsity Tutors',
        description: [
          "Elevated 100+ students’ computer science and math grades through remote tutoring, attaining a GPA of 3.8+",
          'Enhanced critical thinking and problem-solving skills of 100+ students, achieving a 92% exam success rate',
          'Increased academic proficiency by 30% in subjects, including computer science, mathematics, science, and statistics'
        ]
      },

      'university': {
        title: 'Undergraduate Research Assistant @ UMD',
        description: [
          'Engineered machine learning algorithms using Python, leveraging OpenCV for image processing and NumPy for numerical computation resulting in computer vision capabilities for drones improving target detection by 40% and data processing speeds by 25%',
          'Analyzed the performance of two quantum circuits on the Traveling Salesman Problem, using simulation techniques that resulted in a 20% improvement in circuit efficiency and a 30% reduction in problem-solving time, demonstrating the practical viability of quantum computing for optimization issues'
        ]
      }
    };

    function setActiveCard(cardElement, cardId) {
      document.querySelectorAll('.content').forEach(card => {
        card.classList.remove('active');
      });

      cardElement.classList.add('active');
    }

    function updateJobDescription(cardId) {
      const job = jobDescriptions[cardId];
      if (!job) {
        console.error("No job found for card with id: ", cardId);
        return;
      }

      const title = job.title;
      const desc = job.description;
      const descArea = document.getElementById('job-description');

      descArea.innerHTML = '';

      const header = document.createElement('h2');
      header.textContent = title;
      header.style.color = 'white';
      header.style.fontFamily = 'CircularStd-Black';

      const descriptionList = document.createElement('ul');
      desc.forEach(description => {
        const listItem = document.createElement('li');
        listItem.textContent = description;
        descriptionList.appendChild(listItem);
      });

      descArea.appendChild(header);
      descArea.appendChild(descriptionList);
      
      descArea.style.display = 'none';
      descArea.style.opacity = 0;

      requestAnimationFrame(() => {
        descArea.style.display = 'block';
        setTimeout(() => {
          descArea.style.opacity = 1;
        }, 0);
      });
    }

    document.querySelectorAll('.content').forEach(card => {
      card.addEventListener('click', function () {
        const cardId = card.dataset.jobId;
        setActiveCard(card);
        updateJobDescription(cardId);
      });
    });
  </script>
</body>

</html>